 img{
    height: 70%;
    width: 90%;

}
input{
    height: 50px;
    width: 600px;
   
}
button{
    margin-left: 40%;
    margin-top: 60px;
} 
.one{
    height: 100%;
    width: 30%;
    float: left;
}
.two
{
    height: 100%;
    width: 50%;
    
}