


html,body{
     margin: 0%;
     box-sizing: border-box;
     overflow-x: hidden;
}
/* ................global classes............. */
a{
    text-decoration: none;
}

.flex-row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

ul{
    list-style-type: none;
}
/* .......X.........global classes........X..... */


/* ..............navbar.............. */

.nav{
    background: white;
    padding: 0 2rem;
    height: 0rem;
    min-height: 40vh;
    overflow: hidden;
}
.nav-menu{
    justify-content: space-between;

}
.nav-items{
    display: flex;
    margin: 0;
    
}
.nav-link{
    font-size: 1.1rem;
    position: relative;
    padding: 1.6rem 1rem;
    font-size: 1.1rem;

}
.nav-brand a{
    font-size: 1.6rem;
    padding: 1rem;
    display: block;
}
.social{
    padding: 1.4rem 0;
}
